 a {
    display: inline;
    color: white;
    padding : 100px;
    font-size: 30px;

    
    
}
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color:white;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: gray;
  }
header {
    background-color :tomato;
}
body {
    font-family: roboto;
}
section {
    background-color :gray;
    weight :1000px;
    height: 800px;
    margin: 30px 0px 30px 0px;

}
video {
    width: 100%;
    height: 700px;
   

}
h1 {
    color: white;
}

div {
   padding: 150px 100px 100px 100px;
   font-size: 30px;
}
section img {
    width:1300px;
    height: 500px;
    padding: 100px 100px 100px 100px; 

}
footer {
    background-color:tomato;
    width:1500;
    height:60;
}
picture+p {
    display: inline;
}
